@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main{
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  align-items: center;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  flex-shrink: 50;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.boxContainerGame{
  width: 100%;
  height: 100%;
  font-size: 54px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0;
  padding: 0;
}

.containerGame{
  display: grid;
  grid-template-columns: repeat(5, 1em);
  grid-gap: 0.0625em;
  justify-content: center;
  gap: 8px;
  font-size: 1em;
  height: 1em;
  margin: 0;
  line-height: 0;
}

.games{
  aspect-ratio: 1;
    font-weight: 600;
    font-family: 'Mitr', sans-serif;
    color: #FAFAFF;
    background-color: #615458;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 0.65em;
    line-height: 1em;
    text-transform: uppercase;
    --happy-jump: 55%;
    cursor: pointer;
}

.activeGame{
  border-bottom: 0.25em solid #4C4347 !important;
}

.editGame{
  background-color: transparent;
  border: 0.125em solid #4C4347;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}